@import "tailwindcss";

@theme inline {
  --color-cream: #F8F6F0; /* Soft off-white */
  --color-ink: #2D323A; /* Dark grey-blue for main text */
  --color-dark-ink: #1A1D20; /* Darker charcoal for backgrounds */
  --color-primary: #C5050C; /* Classic strong red */
  --color-secondary: #6B7280; /* Muted, cool grey for secondary elements */
  --color-accent: #057A55; /* Deep, earthy green */
  --color-light-grey: #E5E7EB; /* For borders and subtle backgrounds */

  --font-serif: var(--font-libre);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-cream);
  color: var(--color-ink);

  font-family: var(--font-serif);
  letter-spacing: -0.01em;
}

code, pre, .mono-data {
  font-family: var(--font-mono);
  font-size: 0.85em;
  opacity: 0.8;
}
