@import "tailwindcss";

@import "tailwindcss";

@theme inline {
  --color-cream: #fcf9eb;
  --color-ink: #323026;
  --color-uw-red: #C5050C;

  --font-serif: var(--font-inter-sans); /* Using Inter as the primary sans-serif font */
  --font-mono: var(--font-roboto-mono); /* Using Roboto Mono as the primary monospace font */
}

body {
  background-color: var(--color-cream);
  color: var(--color-ink);
  font-family: var(--font-serif);

  letter-spacing: -0.01em;
}

code, pre, .mono-data {
  font-family: var(--font-mono);
  font-size: 0.85em;
  opacity: 0.8;
}
